*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    margin: 0px;
}

button {
    padding: 0px;
    border: none;
    margin: 0;
}

a.active-page {
    color: var(--color-blue);
}