/*:root {
    --family-roboto: "Roboto", sans-serif;
    --family-raleway: "Raleway", sans-serif;

    --color-black: #212121;
    --color-gray: #757575;
    --color-blue: #2196f3;
}
*/
$fonts: (
    "roboto": "Roboto" 
    sans-serif,
    "raleway": "Raleway" 
    sans-serif,
);
$colors: (
    ""
);
@function getFont($key){
    @return map-get($colors, $key );
}
.title-from-variables {
    font-family: map-get($fonts, "poppins");
}