.about-list {
  font-family: var(--family-roboto);
  display: flex;
  justify-content: center;
}
.about-highlight {
  color: var(--color-black);
  font-family: var(--family-roboto);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
  display: block;
}
.about-text {
  font-family: var(--family-roboto);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);

  letter-spacing: 0.03em;
  color: var(--color-gray);
}
.about-title {
  display: none;
}
.about-itel:not(:last-child) {
  margin-right: 30px;
}
.about-itel {
  width: 270px;
}
.section-about {
  margin-bottom: 94px;
}
.about-list-svg {
  display: flex;
  justify-content: space-around;
}
.about-box {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  justify-content: space-between;
}
.header-address-item {
  display: flex;
}
.address-svg {
  margin-right: 10px;
}
.about-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
