.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 215px;

  background-color: #2f303a;
}
footer .logo-span {
  color: white;
}
footer .logo {
  margin-bottom: 20px;
}
.footer-itel:not(:last-child) {
  margin-bottom: 9px;
}
.footer-itel {
  font-family: var(--family-roboto);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-itel:first-child {
  color: white;
}

.footer-link {
  color: inherit;
}
.footer-link-noaddress {
  fill: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer-list-noaddress {
  display: contents;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.footer-itel-noaddress:not(:last-child) {
  margin-right: 10px;
}
.footer-title {
  font-family: var(--family-roboto);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 72 px;
}
