.header {
  height: 80px;
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: center;
}
.header > .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link {
  font-family: var(--family-roboto);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 12);

  color: var(--color-black);
}
.nav-list {
  display: flex;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-blue);
}
.header-address-list {
  display: flex;
}
.logo {
  font-family: var(--family-raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--color-blue);
  margin-right: 93px;
}
.logo-span {
  color: #000000;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav {
  margin-right: 318px;
}
.header-address-item:not(:last-child) {
  margin-right: 30px;
}
.header-address-linl {
  font-family: var(--family-roboto);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  font-style: normal;

  color: var(--color-gray);
}
.header-address-linl:hover,
.header-address-linl:focus {
  color: var(--color-blue);
}
.header-address-svg {
  display: flex;
  justify-content: center;
}
.header-address-svg:hover,
.header-address-svg:focus {
  color: var(--color-blue);
}
.address-link:hover,
.address-link:focus {
  color: var(--color-blue);
}
