.section-hero {
  height: 600px;
  width: 100vw;
  height: 100vh;
  background-image: url(../../../images/hero/img-1.jpg);
  fill: rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin-bottom: 94px;

  position: relative;
}
.section-hero > .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-text {
  font-family: var(--family-roboto);
  font-weight: 900px;
  font-size: 44px;
  line-height: calc(60 / 44);

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-bottom: 30px;

  color: #ffffff;
}

.hero-button {
  font-family: var(--family-roboto);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  width: 216px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background: var(--color-blue);
  color: #ffffff;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--color-blue);
  background-color: #ffffff;
  cursor: pointer;
}
.hero-window {
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  position: absolute;
  top: 60%;
  left: 50%;

  transform: translate(-50%, -50%);
}
.hero-div {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0px;
  left: 0;

  width: 100vw;
  height: 100vh;
}
.hero-window-link {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}
.window-text {
  color: var(--color-gray);
  font-family: var(--family-roboto);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-left: 41px;
  margin-top: 12px;
  margin-bottom: 4px;
}
.window-h2 {
  color: var(--color-black);
  text-align: center;
  font-family: var(--family-roboto);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.6px;
  padding-top: 40px;
}
.window-input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  margin-left: 41px;
}
.window-link-svg {
  position: absolute;
}
.window-textarea {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  min-height: 120px;

  margin-left: 41px;
  padding-left: 16px;
  padding-top: 12px;
}
.input {
  margin-left: 54px;
  margin-right: 7px;
  margin-top: 25px;
  width: 16px;
  height: 15px;
  flex-shrink: 0;
}
.text {
  color: var(--color-gray);
  font-family: var(--family-roboto);
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.42px;
  display: flex;
}
.form {
  display: flex;
}
.window-a {
  color: var(--color-blue);
  font-family: var(--family-roboto);
  font-size: 14px;
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}
